/* ---------- fonts ---------- */
@font-face{font-family:'Retro Wild';src:url('fonts/RetroWildRegular.ttf') format('truetype');font-weight:400;font-display:block}
@font-face{font-family:'MPLUSRounded1c';src:url('fonts/MPLUSRounded1c-Bold.ttf') format('truetype');font-weight:700;font-display:block}
